body > div > :last-child {
  margin-bottom: 56px;
}

.contributor-preferences {
  display: grid;
  font-size: 13px;
  grid-gap: 16px 0;
  grid-template: auto / 30% auto 16px;
  letter-spacing: -0.08px;
  padding-top: 30px;
}

.contributor-preferences > div {
  grid-column: 2/-2;
}

.contributor-preferences > div > p {
  margin: 0;
  max-width: 310px;
}

.contributor-preferences > :nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 0 16px;
  text-align: right;
}

body[dir=rtl] .contributor-preferences > :nth-child(1) {
  text-align: left;
}

.contributor-preferences > :nth-child(10) {
  grid-column: 1/2;
  grid-row: 9/10;
  padding: 0 16px;
  text-align: right;
}

body[dir=rtl] .contributor-preferences > :nth-child(10) {
  text-align: left;
}

.contributor-preferences > :nth-child(14) {
  grid-column: 1/2;
  grid-row: 12/13;
  padding: 0 16px;
  text-align: right;
}

body[dir=rtl] .contributor-preferences > :nth-child(14) {
  text-align: left;
}

.contributor-preferences > :nth-child(18) {
  grid-column: 1/2;
  grid-row: 15/16;
  padding: 0 16px;
  text-align: right;
}

body[dir=rtl] .contributor-preferences > :nth-child(18) {
  text-align: left;
}

.contributor-preferences > :nth-child(22) {
  grid-column: 1/2;
  grid-row: 18/19;
  padding: 0 16px;
  text-align: right;
}

body[dir=rtl] .contributor-preferences > :nth-child(22) {
  text-align: left;
}

.contributor-preferences > :nth-child(27) {
  grid-column: 1/2;
  grid-row: 22/23;
  padding: 0 16px;
  text-align: right;
}

body[dir=rtl] .contributor-preferences > :nth-child(27) {
  text-align: left;
}

.contributor-preferences > :nth-child(32) {
  grid-column: 1/2;
  grid-row: 26/27;
  padding: 0 16px;
  text-align: right;
}

body[dir=rtl] .contributor-preferences > :nth-child(32) {
  text-align: left;
}

.contributor-preferences > :nth-child(36) {
  grid-column: 1/2;
  grid-row: 29/30;
  padding: 0 16px;
  text-align: right;
}

body[dir=rtl] .contributor-preferences > :nth-child(36) {
  text-align: left;
}

.contributor-preferences > :nth-child(38) {
  grid-column: 1/2;
  grid-row: 30/31;
  padding: 0 16px;
  text-align: right;
}

body[dir=rtl] .contributor-preferences > :nth-child(38) {
  text-align: left;
}

.contributor-preferences > :nth-child(41) {
  grid-column: 1/2;
  grid-row: 32/33;
  padding: 0 16px;
  text-align: right;
}

body[dir=rtl] .contributor-preferences > :nth-child(41) {
  text-align: left;
}

.contributor-preferences > :nth-child(45) {
  grid-column: 1/2;
  grid-row: 35/36;
  padding: 0 16px;
  text-align: right;
}

body[dir=rtl] .contributor-preferences > :nth-child(45) {
  text-align: left;
}

.contributor-preferences > :nth-child(50) {
  grid-column: 1/2;
  grid-row: 39/40;
  padding: 0 16px;
  text-align: right;
}

body[dir=rtl] .contributor-preferences > :nth-child(50) {
  text-align: left;
}

.contributor-preferences > :nth-child(54) {
  grid-column: 1/2;
  grid-row: 42/43;
  padding: 0 16px;
  text-align: right;
}

body[dir=rtl] .contributor-preferences > :nth-child(54) {
  text-align: left;
}

.contributor-preferences > :nth-child(57) {
  grid-column: 1/2;
  grid-row: 44/45;
  padding: 0 16px;
  text-align: right;
}

body[dir=rtl] .contributor-preferences > :nth-child(57) {
  text-align: left;
}
